@import "../vars/vars.scss";

//---------------------------------------advantages----------------------------------------------//

  
.advantages {
    background-color: #fef7f58a;
    padding-top: 30px;
    h2 {
      @include h2;
      @include f-center;
      padding-top: 30px;
    }
    &__subtitle {
      color: $paragraph-color;
      font-size: 20px;
      @include f-center;
      margin-bottom: 4%;
    }  
    &__block {
      display: grid;
      grid-template-columns: repeat(3, 3fr);
      grid-template-rows: repeat(2, 3fr);
      grid-gap: 3%;
    }
    &__card {
      width: 100%;
      @include f-column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      transition: all 0.25s ease-in-out;
      &:hover {
        background: $color-hover;
        color: rgb(0, 0, 0);
        border-radius: 20px;
        box-shadow: -1px 20px 10px 0px rgba(0, 0, 0, 0.212);
      }
      img {
        width: 30%;
      }
      h4 {
        margin-top: 5%;
        color: #425b69;
        font-family: sans-serif;
        font-weight: 800;
        font-size: 20px;
      }
      h5 {
        padding: 0 10px;
        color: gray;
        font-family: sans-serif;
        text-align: justify;
        font-size: 16px;
      }
    }
}