@import "../vars/vars.scss";
@import "../styleHeader/styleHeader.scss";
@import "../styleFooter/styleFooter.scss";
@import '../styleAdvantages/styleAdvantages.scss';
@import '../styleName/styleName.scss';
@import '../styleAbout/styleAbout.scss';
@import '../stylePansion/stylePansion.scss';
@import '../styleCourses/styleCourses.scss';
@import '../styleReviews/styleReviews.scss';
@import '../styleGallery/styleGallery.scss';
@import '../styleTeam/styleTeam.scss';
@import '../stylePrice/stylePrice.scss';
@import '../styleRequest/styleRequest.scss';
@import '../styleQuestions/styleQuestions.scss';
@import '../stylePromotion/stylePromotion.scss';
//--------------------------------------------------------------------------------------------//

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background:   rgba(231, 133, 22, 0.53);     /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color:rgba(243, 243, 243, 1);  /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 3px solid #f08700;  /* padding вокруг плашки */
}

.wrapper {
  @include f-column;
  min-height: 100%;
  overflow: hidden;
  
  .floating-button {
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    background: #f088008d;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    img {
      position: absolute;
      max-width: 40px;
      top: 15px;
      left: 15px;
    }
  }
  .floating-button:hover {
    background: $main-orange-color;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}


.show{
    display: block;
}

.hide{   
    display: none;
}

.slider-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-bottom: 10px;

}

.dot {
  box-sizing: content-box;
  flex: 0 1 auto;
  max-width: 10px;
  height: 6px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color:  $main-orange-color;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity .6s ease;
}

.dot-active {
  opacity: 1;
}


.fade{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade{
  from{opacity: 0.1;} to {opacity: 1;}
}

.show__modal{
  display: block;
}

.hide__modal{
  display: none;
}

//---------------------------main__block------------------------
.image__block {
  display: flex;
  height: 740px;
  background: url("../../images/imagesMain/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 140px;
}

//--------------------------------------------------------------

.image__background {
  background: url(../../images/imagesMain/school1.jpg) center / cover no-repeat
    fixed;
  min-height: 100vh;
}


//-------------------------------------адаптив-main-name-about-----------------------------------------
@media (max-width: 1200px) {
  .about {
    &__name {
      font-size: 110px;
    }
    &__right-content {
      transform: translateY(520px);
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1023px) {
  .image__block {
    height: 500px;
    background: url("../../images/imagesMain/background2.png");
    background-position: 0px 0px;
  }
  .name {
    &__body {
      margin-top: -420px;
      min-height: 1000px;
    }
    &__top-title {
      font-weight: 800;
      font-size: 45px;
    }
    &__top-text {
      padding: 5px 20px;
      h5 {
        font-size: 18px;
      }
    }
    &__image {
      max-width: 410px;
    }
  }
  .about {
    margin-top: -580px;
    &__body {
      min-height: 800px;
    }
    &__name {
      font-size: 98px;
    }
    &__image {
      display: flex;
      margin: 0 auto;
      max-width: 410px;
      padding: 20px;
      img {
        width: 100%;
      }
    }
    &__right-content {
      transform: translateY(450px);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .promotion{
    &__timer-block {
      width: 80px;
      height: 100px;
  
      font-size: 16px;
 
      span{
        display: block;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 45px;
       
      }
    }
  }
}

@media (max-width: 920px) {
  .image__block {
    height: 500px;
    background: url("../../images/imagesMain/background4.png");
    background-position: 0px 0px;
  }
  .name {
    &__body {
      margin-top: -375px;
      min-height: 900px;
    }
    &__top-title {
      font-weight: 700;
      font-size: 40px;
    }
    &__top-text {
      padding: 5px 20px;
      h5 {
        font-size: 18px;
      }
    }
    &__adv {
      padding: 20px;
    }
    &__advantages {
      font-size: 12px;
    }
    &__image {
      max-width: 380px;
      margin-bottom: 20px;
    }
  }
  .button {
    padding: 5px 18px;
    min-height: 40px;
    font-size: 12px;
  }
  .about {
    margin-top: -525px;
    &__name {
      font-size: 86px;
    }
    &__title {
      font-size: 28px;
    }
    &__text {
      font-size: 16px;
    }
    &__image {
      margin: 0px;
      max-width: 380px;
    }
    &__right-content {
      transform: translateY(420px);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .programms {
    &__column {
      flex: 0 1 50%;
    }
  }
  .promotion{
    &__timer-block {
      width: 55px;
      height: 80px;
  
      font-size: 14px;
 
      span{
        display: block;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 30px;
       
      }
    }   
    &__title{
      font-size: 25px;
    }
  }
}

@media (max-width: 820px) {
  .image__block {
    height: 500px;
    background: url("../../images/imagesMain/background4.png");
    background-position: -40px 0px;
  }
  .name {
    &__body {
      margin-top: -335px;
      min-height: 800px;
    }
    &__top-title {
      font-weight: 700;
      font-size: 35px;
      padding: 20px 0px;
    }
    &__top-text {
      padding: 5px 20px;
      h5 {
        font-size: 16px;
      }
    }
    &__adv-block {
      img {
        width: 100%;
      }     
    }
    &__advantages {
      font-size: 10px;
    }
    &__image {
      display: flex;
      margin: 0 auto;
      max-width: 340px;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
  .button {
    padding: 4px 18px;
    min-height: 35px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 10px;
    line-height: 105%;
  }
  .about {
    margin-top: -465px;
    &__name {
      font-size: 80px;
    }
  
    &__text {
      font-size: 14px;
    }
    &__image {
      margin: 0px;
      max-width: 340px;
    }
    &__right-content {
      transform: translateY(340px);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    &__left-content {
      flex: 0 1 auto;
    }
  }
}

@media (max-width: 767px) {
  .image__block {
    height: 400px;
    background: url("../../images/imagesMain/background400.png");
    background-position: 0px 0px;
    margin-top: 100px;
  }
  .name {
    &__body {
      margin-top: -290px;
      min-height: 800px;
    }
    &__top-title {
      font-weight: 600;
      font-size: 30px;
    }
    &__top-text {
      padding: 5px 20px;
      h5 {
        font-size: 14px;
      }
    }
    &__advantages {
      padding: 5px 0px 0px 0px;
      font-size: 8px;
    }
    &__adv {
      padding: 0px;
    }
    &__image {
      max-width: 300px;
      margin-bottom: 20px;
    }
  }
  .about {
    margin-top: -510px;
    &__name {
      font-size: 68px;
      margin-top: 50px;
    }
    &__image {
      margin: 0px;
      max-width: 300px;
    }
    &__title {
      font-size: 25px;
    }
  }
  .floating-button {
    max-width: 1230px;
    margin: 0px auto;
    padding: 0px 15px;
  }
  .promotion{
    &__container{
      flex-direction: column;
      align-items:center;
    }
    &__descr{
      margin-top: 5px;
      line-height: 105%;
      margin-bottom: 10px;
      font-size: 14px;
      span{
        font-size: 18px;
      }
    }
   
    &__bgc{  
      width: 70%;    
      height: 350px;
      top: -10px;
      left: 15%;     
    }
    &__title{
      font-size: 18px;
    }
  }
}

@media (max-width: 670px) {
  .image__block {
    min-height: 300px;
    background: url("../../images/imagesMain/background400.png");
    background-position: 0px 0px;
  }
  .name {
    &__body {
      margin-top: -208px;
      min-height: 700px;
    }
    &__top-title {
      font-weight: 600;
      font-size: 25px;
      padding: 20px 0px;
    }
    &__top-text {
      padding: 5px 20px;
      h5 {
        font-size: 12px;
      }
    }
    &__adv {
      padding: 20px;
    }
    &__advantages {
      padding-top: 5px;
      font-size: 8px;
    }
    &__image {
      max-width: 260px;
      margin-bottom: 20px;
    }
  }

  .about {
    margin-top: -492px;
    &__name {
      font-size: 70px;
      margin-top: 50px;
      flex-direction: column;
      text-align: left;
    }
    &__right-content {
      transform: translateY(230px);
    }
  }
  .promotion{
    &__timer-timer{
    margin-top: 20px;
    margin-top: 30px;
    }
    &__timer-block {
      width: 35px;
      height: 60px;
  
      font-size: 10px;
 
      span{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
       
      }
    }
   
    &__bgc{  
      width: 70%;    
      height: 250px;
      top: 0px;
      left: 15%;     
    }
    &__descr{  
      span{
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 585px) {
  .image__block {
    height: 200px;
    background: url("../../images/imagesMain/background300.png");
  }
  .name {
    &__body {
      margin-top: -120px;
      min-height: 500px;
    }
    &__top-title {
      font-weight: 500;
      font-size: 22px;
      padding: 20px 0px 15px 0px;
    }
    &__top-text {
      .name__adv {
        flex-direction: column;
        align-items: center;
        padding: 0px;
      }
      padding: 0px 20px;
      h5 {
        font-size: 6px;
      }
      .name__adv-block {
        flex: 0 1 100%;
      }
    }
    &__advantages {
      padding-top: 5px;
      font-size: 8px;
    }
    &__image {
      max-width: 210px;
      margin-bottom: 10px;
    }
  }
  .about {
    margin-top: -468px;
    &__body {
      flex-direction: column;
    }
    &__name {
      font-size: 55px;
    }
    &__left {
      flex-direction: column-reverse;
    }
    &__right {
    }
    &__text {
      max-width: 100%;
    }
    &__image {
      margin: 10px;
      max-width: 210px;
      border: 2px solid white;
      padding: 0px;
    }
    &__right-content {
      transform: translateY(0px);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .programms {
    &__column {
      flex: 0 1 80%;
    }
  }
  .promotion{
    &__bgc{       
      height: 300px;
      top: 20px;       
    }
  }
}

@media (max-width: 480px) {
  .image__block {
    min-height: 200px;
    background: url("../../images/imagesMain/background200.png");
  }
  .name {
    &__body {
      margin-top: -120px;
      min-height: 500px;
    }
    &__top-title {
      font-weight: 500;
      font-size: 15px;
      padding: 20px 0px 10px 0px;
    }
    &__top-text {
      padding: 0px 20px;
      h5 {
        font-size: 6px;
      }
    }
    &__advantages {
      padding-top: 3px;
      font-size: 6px;
    }
    &__image {
      max-width: 160px;
      margin-bottom: 10px;
    }
  }
  .button {
    padding: 2px 12px;
    min-height: 25px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 6px;
    line-height: 105%;
  }
  .about {
    margin-top: -397px;
    &__body {
      flex-direction: column;
    }
    &__name {
      font-size: 40px;
    }
    &__image {
      max-width: 160px;
    }
 
    &__right-content {
      transform: translateY(0px);
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }

  .programms {
    &__column {
      flex: 0 1 100%;
    }
    &__title {
      h2 {
        font-size: 30px;
      }
    }
  }
  .reviews {
    .reviews__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
    }
    .reviews__text {
      font-size: 15px;
      text-align: start;
      padding-left: 25px;
      padding-right: 2%;
    }
    .reviews__image {
      font-size: 12px;
    } 
  }
  .consult {
    &__left {
      padding: 35px 0 0 7px;
    }
    .consult__content {
      height: 500px;
      width: 340px;
    }
    .consult-thanks {
     font-size: 20px;
    }
  } 
}

@media (max-width: 375px) {
  .image__block {
    min-height: 200px;
    background: url("../../images/imagesMain/background200.png");
  }
  .name {
    &__body {
      margin-top: -120px;
      min-height: 300px;
    }
    &__top-title {
      font-weight: 400;
      font-size: 12px;
      padding: 20px 0px 10px 0px;
    }
    &__top-text {
      padding: 0px 20px;
      h5 {
        font-size: 6px;
      }
    }
 
    &__advantages {
      padding-top: 3px;
      font-size: 6px;
    }
    &__image {
      display: none;
    }
  }
  .about {
    margin-top: -264px;
    &__body {
    }
    &__name {
      font-size: 28px;
    }
    &__image {
      max-width: 130px;
      margin: 5px;
    }
    &__left {
      flex-direction: column;
      margin-top: 30px;
    }
    &__image {
      max-width: 270px;
      margin: 0 auto;
    }
    &__right-content {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    &__left-content {
      margin-top: 50px;
    }
    &__text {
      padding-bottom: 0px;
    }
  }
  .consult {
    // &__text {
    //   h2{
    //     font-size: 16px;
    //     margin-bottom: 5px;
    //   }
      
    // }
    .consult__content {
      width: 260px;
    }
  }
}

//---------------------------------------------------------------------------------------------------
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .advantages {
    h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 50px;
    }
    &__subtitle {
      font-size: 18px;
      margin: 1%;
    }
    &__wrapper {
    }
    &__block {
      display: grid;
    }
    &__card {
      h4 {
        font-size: 15px;
        text-align: center;
      }
    }
  }
  .gallery {
    h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 50px;
    }
    &__flags {
      img {
        max-width: 10%;
      }
    }
    &__text {
      margin: 1% 10%;
      font-size: 15px;
    }
    &__container {
      margin-top: 0;
      div {
        padding: 10px;
      }
      .grid-item-7 {
        display: none;
      }
    }
  }
  .team {
    h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 50px;
    }
    h3 {
      font-size: 20px;
    }
    &__row {
      margin: auto;
    }
    &__column {
      max-width: 100%;
      .team__card {
        .team__img {
          img {
            max-width: 80%;
          }
        }
        .team__content {
          padding: 70px 10px 10px 10px;
          h2 {
            font-size: 22px;
            margin: 0;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  .reviews {    
    .reviews__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 50px;
    }
    .reviews__text {
      font-size: 15px;
    }
    h3 {
      font-weight: 700;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
    }
  }
  .price {
    h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 50px;
    }
    .price__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 15px;
      &-bag {
        margin-bottom: 10px;
      }
      .btn {
        width: 20vw;
      }
    }
  }

  .pansion {
    h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 120%;
      text-align: center;
    }

    .text-muted {
      font-size: 15px;
      text-align: start;
    }

    .mb-5 {
      margin-bottom: 0 !important;
    }

    .justify-content-center {
      justify-content: flex-start !important;
    }

    .mr-2 {
      margin-right: 1rem !important;
    }
  }
  .courses {
    &__column {
      height: 380px;
      padding: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
    }
    &__subtitle {
      font-size: 15px;
      margin: 8%;
    }
    &__block {
      @include f-column;
    }
    &__card {
      h4 {
        font-size: 17px;
      }
    }
  }
  .gallery {
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
    }
    &__flags {
      img {
        max-width: 10%;
      }
    }
    &__text {
      margin: 5% 10%;
      font-size: 15px;
    }
    &__container {
      margin-top: 0;
    }
  }
  .team {
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
    }
    h3 {
      font-size: 23px;
    }
    &__row {
      @include f-column;
      margin: auto;
    }
    &__column {
      max-width: 100%;
      .team__card {
        .team__img {
          img {
            max-width: 80%;
          }
        }
        .team__content {
          padding: 75px 9px 9px 9px;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  .reviews {
    .reviews__title {
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      padding-left: 20px;
    }
    .reviews__text {
      font-size: 15px;
      text-align: center;
    }
    .reviews__image {
      font-size: 12px;
    }
    .reviews-show__slider-counter {
      #current{
        font-size: 30px;
      }    
    }
  }
  .price {
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 50px;
    }
    .price__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 15px;
      &-bag {
        margin-bottom: 10px;
      }
      ol {
        list-style: none;
        padding-left: 0rem;
      }
      ol > li {
        padding-left: 20px;
        position: relative;
        margin: 5px 5px 5px 8px;
        color: $paragraph-color;
      }
      ol > li:before {
        content: "\279B";
      }
      .no {
        display: none;
      }
      .btn {
        width: 25vw;
      }
    }
  }


  .courses {
    &__title {
      h2 {
        font-size: 25px;
        line-height: 110%;
      }
    }
    &__image {
      display: none;
    }
    &__description {
      padding: 0;
    }
    &__title {
      h3 {
        font-size: 20px;
      }
      h4 {
        font-size: 16px;
      }
    }
    &__subtitle {
      p {
        font-size: 12px;
      }
    }
    &__time {
      font-size: 13px;
    }
    &__button {
      display: none;
    }
  }
  .pansion {
    .pansion-text{
      font-size: 16px;
      padding: 10px 5px 10px 5px;
      min-height: 100px;
    }
    #pansion-current{
      font-size: 30px;
    }
    h2 {
      font-weight: 700;
      font-size: 25px;   
      line-height: 120%;
      text-align: center;
    }

    .text-muted {
      font-size: 12px;
      text-align: start;
      line-height: 120%;
    }

    .mb-5 {
      margin-bottom: 0 !important;
    }

    .justify-content-center {
      justify-content: flex-start !important;
    }

    .mr-2 {
      margin-right: 1rem !important;
      font-size: 28px;
    }
  }
}

@media (max-width: 1700px) {
  .pansion {  
    &__gallery {
      .carousel-inner {
        height: auto;
      }
    }
  }
}

@media (max-width: 1200px){
  .pansion {
    &__gallery {
      .carousel-caption {
        top: 64%;

        p {
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
  }
}


@media (max-width: 1500px) {
  .request {
    &__text {
      align-items: center;
      margin: auto auto 10% 55%;
    }
  }
}


@media (max-width: 1100px) {
  .request {
    background-image: url("../../images/imagesMain/imgRequest/Group\ 48096206.png");
    background-repeat: no-repeat;
    min-height: 430px;
    margin-bottom: 30px;
    &__text {
      margin: auto;
    }
  }
}

@media (max-width: 768px){
  .pansion {
    &__gallery {
      .carousel-caption {
        top: 80%;
  
        p {
          font-size: 10px;
          margin-top: -14px;
          line-height: 13px;
        }
      }
  
      .carousel-inner {
        height: 220px;
      }
  
      .carousel-caption {
        height: 50px;
      }
    }
  }
}



@media (max-width: 715px) {
  
  .questions {
    display: none;
  }

  .pansion {
    .carousel {
      display: none;
    }
  }
}

@media (max-width: 650px){
  .pansion{
    .pansion-text{
      font-size: 14px;   
      line-height: 120%;
      min-height: 80px;
    }
    #pansion-current{
      font-size: 20px;
    }
    #pansion-total{
      font-size: 12px;
    }
  }
  .courses{
    &__title {
      h2 {
       line-height: 110%;
      }
    }
    &__title {
      h3 {
        font-size: 15px;
      }
    }
    &__time {
      p {
        font-size: 10px;
      }
    }
    &__subtitle {
      p {
        font-size: 10px;
      }
    }
  }
  .reviews{
    .reviews-show__slider-counter {
      #current{
        font-size: 20px;
      } 
      #total{
        font-size: 12px;
      }   
    }
    .reviews-show__slide {
      height: 300px;
  
    }
  }
}

@media (max-width: 490px) {
  .request {
    &__text {
      margin: auto auto 36% 0;
    }
    h2 {
      font-size: 26px;
    }
    p {
      text-align: center;
    }
  }
  .reviews{
    .reviews-show__slide {
      height: 225px;
  
    }
  }
}

@media (max-width: 375px) {
  .request {
    &__text {
      margin: auto auto 42% 0;
    }
  }
  .pansion{
    .pansion-text{
      font-size: 10px;
      line-height: 110%;
      min-height: 60px;
      
    }
  }
  .reviews{
    .reviews-show {
      display: none;
  
    }
  }
}
