@import "../vars/vars.scss";

//--------------------------------------------------------pansion----------------------------------------
.pansion {
    @include font-header;
    padding-top: 10%;
    color: $main-orange-color;
    background-color: #fef7f58a;
    margin-bottom: 30px;
  
    h2 {
      @include h2;
      text-align: start;
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      margin: 30px 0px;
    }
  
    &__gallery {  
      .carousel-inner {
        height: 400px;
      }  
      .pansion-text {
        color: $paragraph-color;
        font-family: $main-font; 
        padding-top: 20px;
        padding-bottom: 20px;      
        text-align: center;
        color: #454545;
        font-size: 20px;  
        min-height: 114px;      
        justify-content: center;
        background-color: rgba(219, 205, 177, 0.5411764706);    
     
      }
    }
  }
  
  .pansion-show {
    @include font-header;
    background-color: #fef7f58a;
    display: flex;
    justify-content: center;
  
    &__slider {     
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
    
    }
  
    &__slider #pansion-current {
      font-size: 48px;
      font-weight: bold;
      color: $main-orange-color;
    }
  
    &__slider-counter {
      display: flex;
      width: 180px;
      align-items: center;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.5);
      margin: 20px 0px 20px 0px;
    }
  
    &__slider-prev {
      margin-right: 10px;
      cursor: pointer;
    }
  
    &__slider-next {
      margin-left: 10px;
      cursor: pointer;
    }
  
    &__slider-wrapper {
      width: 100%;    
      margin-top: 15px;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    }  
  
    &__slide {
      width: 100%;
      border-radius: 20px;
      img{
        display: block;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
      }
    }
  
    &__slide img{
      width: 100%;
      height: 100%;  
    }
  }  





